.hd-example {
	width: 515px;
	height: 329px;
	text-align: center;
	background-color: #464576;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
}
/*.carousel-item{
	line-height: 329px;
	color: #fff;
	font-family: Arial Black
}*/

.hd-ft-carousel {
	position: relative;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.hd-ft-carousel .hd-carousel-inner {
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	padding: 0px;
}
.hd-ft-carousel .hd-carousel-inner ul{
	list-style-type: none;
	padding: 0px;
	margin: 0px;
}

.hd-ft-carousel .hd-carousel-inner .hd-carousel-item {
	float: left;
	height: 100%;
	list-style-type: none;
}

.hd-ft-carousel .hd-carousel-item img {
	width: 515px;
	height: 329px;
}

.hd-ft-carousel .hd-carousel-indicators {
	position: absolute;
	left: 0;
	bottom: 10px;
	width: 100%;
	text-align: center;
	font-size: 0;
}

.hd-ft-carousel .hd-carousel-indicators span {
	display: inline-block;
	width: 12px;
	height: 12px;
	background-color: #FFF;
	margin: 0 4px;
	border-radius: 50%;
	cursor: pointer;
}

.hd-ft-carousel .hd-carousel-indicators span.active {
	background-color: #333;
}

.hd-ft-carousel .hd-carousel-btn {
	position: absolute;
	top: 50%;
	width: 50px;
	height: 45px;
	margin-top: -25px;
	cursor: pointer;
}

.hd-ft-carousel .hd-carousel-prev-btn {
	left: 0;
	background: url(../images/prev.png) no-repeat;
}

.hd-ft-carousel .hd-carousel-next-btn {
	right: 0;
	background: url(../images/next.png) no-repeat;
}
